// Specific CSS for your home-page
.outer-home{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.container-home{
  text-align: center;
  background: linear-gradient(3deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 39%, rgba(255,255,255,0) 100%);
  padding-top: 200px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
