.items-cards-array {
  padding: 10px;
  display: flex;
  width: 55%;
  flex-wrap: wrap;
  flex-direction: row;
  height: auto;
}

.item-card-map-location {
  height: 100vh;
  margin: 20px;
  width: 49%;
  background: rgba(120, 120, 120, 0.637);
  position: sticky;
  top: 0px;
}

.card-and-map {
  display: flex;
}

.index-map-items {
  display: flex;
}

.index-card-padding {
  padding: 0px 8px 8px;
}
