.items-cards-array {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: auto;
}

.map-container {
  height: 100vh;
  width: 65%;
  position: sticky;
  top: 0px;
}

.item-card-map-location {
  width: 100%;
  height: 100%;
}

.card-search{
  width: 100%;
}

.card-and-map {
  display: flex;
}

.index-map-items {
  display: flex;
}

.index-card-padding {
  padding: 0px 10px 10px;
}
