.item-logo-map{
  height: 30px;
  width: 30px;
  border-radius: 50%;

}

.item-logo-map :hover{
  height: 60px;
  width: 60px;
  border-radius: 50%;
}


.user-logo-map{
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
