.card {
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);
  color: #ffffff
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title-condition {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-shipping-proposal {
  display: flex;
  justify-content: space-between;
}

.card:hover{
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.537);
  transition: 0.3s;
  zoom: 1.01;
  text-decoration: none;
  cursor: pointer;
}

.title {
  margin: 20px;
  color: #ffffff;
}

.carousel-item.active {
  justify-content: center;
}

.carousel-inner {
  margin: auto;
}

.item-image {
  object-fit: cover;
  border-radius: 10px;
}

.card-image {
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}
