<div class="card-item-index">
  <div class="card-item-img">
  </div>
  <div class="card-item-content">
    <div class="row-one">
      <h5>Chair</h5>
      <p>3km</p>
    </div>
    <div class="row-two">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci debitis dolorem omnis aliquid, unde reprehenderit! </p>
    </div>
    <div class="row-tree">
      <div class="card-price">
        <p>100$</p>
      </div>
      <div class="card-item-q">
        <p>+  2   -</p>
      </div>
      <div class="add-to-shop">
        <i class="fa-thin fa-square-plus"></i>
      </div>
      </div>
  </div>
</div>
