<div class="card-item-index">
  <div class="card-item-img">
  </div>
  <div class="card-item-content">
    <div class="row-one">
      <h5><%= name %></h5>
      <p>3km</p>
    </div>
    <div class="row-two">
      <p><%= description %></p>
    </div>
    <div class="row-tree">
      <div class="card-price">
        <p><%= price %>$</p>
      </div>
      <div class="card-item-q">
        <p>+  <%= quantity %>   -</p>
      </div>
      <div class="add-to-shop">
        <i class="fa-thin fa-square-plus"></i>
      </div>
      </div>
  </div>
</div>
