<footer id="footer">
 <div class="footer-content">
    <div class="left-section">
      <%= image_tag "passbridge_icon.svg" %>
      <span id="logo-name"> passbridge</span>
    </div>
    <div class="middle-section">
      <div class="container">
        <p>Passbridge created by Gian Claudio Scarafini, Laura Cecilia Nicolas, João Ribeiro & Francesca Valsecchi.</p>
      </div>
    </div>
    <div class="right-section">
      <div class="container">
        <p>Follow us on:</p>
          <ul class="social-icons">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
      </div>
    </div>
  </div>
</footer>
