<div class="outer-home">
  <div class="container-home">
    <h1 class="passbridge-title">passbridge</h1>
    <p>find furniture and materials near you
    <br>and give them a second life</p>
    <h5>circular economy for everyone</h5>
    <div class="button-container">
      <%if user_signed_in? %>
        <%=link_to "get started", items_path, class: "main-button"=%>
      <% else %>
        <%=link_to "get started", new_user_registration_path, class: "main-button"=%>
      <%end%>
    </div>
  </div>

  <video class="background-video" autoplay loop muted poster="public/passbridge_background.png">
    <source src="/video/3141208-hd_1920_1080_25fps.mp4" type="video/mp4">
  </video>
</div>
