.search {
  margin: 10px;
}

.search-form {
  margin: 10px 40px 0px;
  display: flex;
  width: 90%;
}

// .search-input {
  // width: 70%; /* Adjust width as needed */
  // padding: 10px;
  // border: 1px solid #ccc;
  // border-radius: 5px;
  // font-size: 16px;
  // margin-right: 20px; /* Add margin on the right side */
// }

.search-button {
  padding: 10px 20px;
  background-color: #ffffff5b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.search-button:hover {
  background-color: #2D3642;
}

.search-form-fild{
  width: 700px;
}
