  <%# thise are the list of items %>
  <div class="items-cards-array">

    <% @items.each do |item| %>
      <div class="mt-5">
        <%= render "shared/carditem", item: item %>
      </div>
    <% end%>
  </div>

  <%# this is a place holder for the maps %>
  <div class="item-card-map-location">
  </div>
</div>
