<%# this is the search bar %>
<div class= "m-2">
  <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get">
    <div class="search-form-control form-group d-flex mt-3">
      <input class="form-control string required mx-3" type="text" name="search[query]" id="search_query" />
      <button name="button" type="submit" class="main-button">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  </form>
</div>

<div class="card-and-map">
  <%# thise are the list of items %>
  <div class="items-cards-array">
    <% @items.each do |item| %>
      <div class="mt-3 text-decoration-none">
        <%= render "shared/carditem", item: item %>
      </div>
    <%end%>
  </div>

  <%# this is a place holder for the maps %>
  <div class="item-card-map-location"   data-controller="map" data-map-target="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">

  <%# raise  %>

  </div>
</div>
