<%# this is the search bar %>
<div class="items-index-search">
  <nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
</div>
<div class="card-and-map">
  <%# thise are the list of items %>
  <div class="items-cards-array">

    <% @items.each do |item| %>
      <div class="mt-5">
        <%= render "shared/carditem", name: item.name,
         description: item.description,
         price: item.price,
         quantity: item.quantity %>
      </div>
    <% end%>
  </div>

  <%# this is a place holder for the maps %>
  <div class="item-card-map-location">
  a
  </div>
</div>
