.card-item-index{
  background-color: rgba(255, 255, 255, 0.7);
  height: 340px;
  width: 250px;
  border-radius: 10px;
  text-decoration: none;
}

.card-item-index:hover{
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.537);
  transition: 0.3s;
  zoom: 1.01;
  text-decoration: none;
  cursor: pointer;
}

.card-distance{
  display: flex;
  font-size: smaller;
}

.card-distance i {
  margin-right: 5px;
  margin-top: 4px;
  position: relative;
  left: 6px;
}

.row-one{
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 55px;
}

.row-two{
  text-decoration: none;
  font-size: 12px;
  height: 5em;
  overflow: hidden;
}

.row-tree{
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card-item-img{
  text-decoration: none;
  height: 170px;
  width: auto;
  background-color: #5f5f5f;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-item-img img{
  text-decoration: none;
  height: 170px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-item-content{
  padding: 10px 30px 10px;
  text-decoration: none;
}

.card-item-text-colot-blk{
  color: black;
  text-decoration: none;
}


.two-lines {
  margin-right: 5px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to show */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}


.card-sub{
  font-size: 10px;
}
