/* app/assets/stylesheets/application.css */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f580;
  padding: 20px 0;
}

.social-icons {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px; /* Adjust spacing between icons */
}

.social-icons li:last-child {
  margin-right: 0;
}

.social-icons a {
  color: #555; /* Adjust icon color */
  font-size: 20px; /* Adjust icon size */
}

.social-icons a:hover {
  color: #042a53c3; /* Adjust hover color */
}
