.navbar-passbridge {
  justify-content: space-between;
  font-family: 'Outfit', sans-serif;
  background: rgb(57,61,98);
  background: linear-gradient(90deg, rgba(57,61,98,0.5) 0%, rgba(24,73,48,0.5) 100%);
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}

.navbar-passbridge .navbar-collapse {
  flex-grow: 0;
}

.navbar-passbridge .navbar-brand img {
  width: 40px;
  margin-bottom: 2.5px;
}

.navbar-passbridge .nav-link {
  font-size: 1.2em;
}

#logo-name {
  padding-left: 10px;
  font-weight: bold;
  font-size: 1.3em;
}

#user-details {
  padding-left: 10px;
  padding-right: 15px;
  color: white;
}
